          <%= form_tag chefs_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search a cuisine type"
            %>
          <%= submit_tag "Search", class: "btn btn-dark btn-rounded" %>
          <% end %>

<div class= "container">

  <div class="row mt-5">
    <div class="col-md-8">
      <div class="row">
      <%
        images = [
          "https://res.cloudinary.com/didajvmh1/image/upload/v1653666435/cooking/cooking_image_8_faagwq.jpg",
          "https://res.cloudinary.com/didajvmh1/image/upload/v1653666432/cooking/cooking_image_6_qzdeoz.jpg",
          "https://res.cloudinary.com/didajvmh1/image/upload/v1653666426/cooking/cooking_image_4_nqnrw3.jpg",
          "https://res.cloudinary.com/didajvmh1/image/upload/v1653666427/cooking/cooking_image_5_ndeyoq.jpg",
          "https://res.cloudinary.com/didajvmh1/image/upload/v1653666425/cooking/cooking_image_3_qotj5i.jpg",
          "https://res.cloudinary.com/didajvmh1/image/upload/v1653666424/cooking/cooking_image_2_iiaorq.jpg",
          "https://res.cloudinary.com/didajvmh1/image/upload/v1653666422/cooking/cooking_image_1_bnfhlp.jpg",
          "https://res.cloudinary.com/didajvmh1/image/upload/v1653666437/cooking/cooking_image_9_cqtarz.jpg",
          "https://res.cloudinary.com/didajvmh1/image/upload/v1653666433/cooking/cooking_image_7_ajqfmb.jpg"
        ]
      %>
        <% @chefs.each do |chef| %>
          <div class="col-md-6">
            <div class="chef-card">
              <img src="<%= images.sample %>" class="img-fluid">
              <div class="card-details p-3">
              <%# <img height="40" width="40" class="chef-card-avatar avatar-bordered" src="https://cdn.quotesgram.com/img/80/90/1219079853-gordon-ramsey.jpg"> %>
              <% if chef.photo.key.present? %>
                <%= cl_image_tag chef.photo.key, class: "chef-card-avatar avatar-bordered", height: 40, width: 40, crop: :fill %>
              <% end %>
                <%= link_to chef_path(chef) do %>
                  <h2 class="card-title"><%= chef.nickname %></h2>
                  <p><%= chef.cuisine %></p>
                  <p><%= chef.location %></p>
                    <h3 class="card-pricing">$<%= chef.price %></h3>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <!-- MAP -->
      <div class="position-sticky sticky-top">
        <div style="width: 100%; height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAP_BOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
