<div class= "container">
<%= form_tag chefs_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Chef"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  <% @chefs.each do |chef| %>
    <div class="card">
      <%= link_to chef_path(chef), class: "card" do %>
      <h2><%= chef.nickname %></h2>
      <p><%= chef.description %></p>
    <div class="card-infos">
      <h2 class="card-pricing">120£</h2>
      <img height="40" width="40" class="card-avatar avatar-bordered" src="https://image.shutterstock.com/image-vector/chef-avatar-character-icon-260nw-690067834.jpg">
    </div>
    <% end %>
  </div>
  <% end %>
</div>
