  <div class="container">
      <div class="row justify-content-center">
          <div class="col-sm-8">
            <h1>Hello New,Chef</h1>
            <%= simple_form_for(@chef) do |f| %>
            <%= f.input :nickname %>
            <%= f.input :cuisine %>
            <%= f.input :description %>
            <%= f.input :location %>
            <%= f.input :price %>
            <%= f.input :photo, as: :file %>
            <%= f.submit %>
            <% end %>
          </div>
    </div>
</div>
