<div class="banner_profile"></div>

 <%# <div class="container">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
  <%# </div> %>
 <div class="container">
<%= cl_image_tag @chef.photo.key, class: "avatar-large", alt: "avatar-large", crop: :fill %>  </div>

<div class="container" id="content-profile">
    <div class="row">
         <div class="col-4">
           <div>
             <h1><%= @chef.nickname %></h1>
                <p> &#127759; <%= @chef.location %></p>
           </div>
        </div>
</div>
    <div>
      <p><%= @chef.description %></p>
    </div>
</div>
    <div class="book-container">
        <div class="wrapper">
            <div class="col-4">
                <h3>Book here!</h3>
                <p>Change your life, learn to have people cook for you.</p>
                <div class="btn btn-dark btn-rounded">
                <%=link_to "Book", new_chef_booking_path(@chef), :class => "btn btn-dark btn-rounded" %>
              </div>
          </div>
      </div>
    </div>
</div>
