<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div style="display:inline-block;">
        <h5>CHEF HUB</h5>
      </div>
      <div style="display:inline-block;vertical-align:top;">
        <%= image_tag "orangelogo.png" %>
      </div>
    <% end %>

    <div class="bar">
      <div class="type">
        <h6>Type</h6>
        <input type="text" >
      </div>

      <div class="date">
        <h6>Date</h6>
        <input type="date" class="d-none" >
      </div>

      <div class="search">
        <h6><%= link_to  'Find chefs', chefs_path %></h6>
        <input type="text" >
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Contact us", "#", class: "dropdown-item" %>
              <%= link_to "Become a chef", new_chef_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_session_path, class: "btn btn-dark btn-rounded" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
